@*@model IEnumerable<ProyectoFinalL2.Models.Mascotas>*@
@model PagedList.IPagedList<ProyectoFinalL2.Models.Mascotas>
@using PagedList.Mvc;
@using PagedList;
@*<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />*@
@{
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

}

<h2 class="text-white">MASCOTAS</h2>



@using (Html.BeginForm("Index", "Mascotas", FormMethod.Get))
{
    <p>
        Buscar por Nombre: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Buscar" />
    </p>
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Edad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Sexo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Tamano)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Area)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sexo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tamano)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Area)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MascotasID }) |
                @Html.ActionLink("Details", "Details", new { id = item.MascotasID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MascotasID })
            </td>
        </tr>
    }

</table>
<br>
<br>
<br>
<p>
    <a href="~/Mascotas/Create" class="primary-btn header-btn text-uppercase">Crear uno nuevo</a>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))